body {
    background-color: white;
}

#upperbanner {
    color: white;
    background-color: black;
    height: 50px;
    text-align: center;

}

.section1 {
    background-color: teal;
    height: 550px;
}

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
     padding: 0 30px;
}

#baroque {
    font-size: 50px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#menu {
    font-size: 20px;
}

#icon {
    font-size: 20px;
}

#endofseason {
    font-size: 40px;

}

#sale {
    font-size: 50px;
    font-style: inherit;
}

#upto50 {
    font-size: 30px;
    height: auto;
    text-align: center;
    border: 2px solid black;
    width: 250px;
    height: 30px auto;
    padding: 10px 40px;
    margin: 40px auto;
}

#selecteditems {
    font-size: 30px;
}

.section2 {
    text-align: center;
    margin: 50px;
    padding: 50px;

}

button {
    background-color: black;
    font-size: 20px;
    color: wheat;
    font-weight: 700;

}

/* .pictures
{
   border: 2px solid maroon;
   width: 350px;
} */
.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 40px;
    padding: 40px;
}

img:hover {
    box-shadow: 0px 0px 5px, 0px 0px 10px;
    background-color: lightgreen;
   
}

.section3 {
    display: flex;
    text-align: center;
    align-items: center;
    /* margin-left: 230px; */
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

#box {
    background-color: pink;
    width: 450px;
    height: 350px;
}

.margin {
    margin-top: 120px;
}

#button123 {
    font-size: 15px;
    border-radius: 20px;
}

#sale2 {
    color: teal;
    font-size: 30px;
}

h4 {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600px;
    font-style: italic;
    color: green;
}

#boxpic:hover {
    box-shadow: 0px 0px 5px, 0px 0px 10px;
}

ul {
    text-align: center;
    padding: 30px 10px;
}

ul a {
    color: rgb(138, 138, 138);
    /* padding: 2px ; */
    margin: 10px;
    line-height: 34px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: lightgreen;
}

.bottomicon {
    text-align: center;
    font-size: 25px;
}

i {
    margin: 10px 10px;
}

#bottombanner {
    text-align: center;
    color: aliceblue;
    font-size: 15px;
    margin-top: 9px;
    background-color: black;
    height: 40px;

}